/*@import url("font-awesome.min.css");*/
@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import url('http://fonts.googleapis.com/css?family=Montserrat+Alternates');
@import url('http://fonts.googleapis.com/css?family=Homemade+Apple');

@media screen and (min-width: 1px) and (max-width: 440px) {
	.listtop, #ulheader, #menu-center, #menuH {
		font-size: .9em;
	}
	a.s11, #ht1  {
		color: green;
	}

	#atitle {
		font-size: 25px; 
	}
}

@media screen and (min-width: 440px) and (max-width: 640px) {
	.listtop, #ulheader, #menu-center, #menuH {
		font-size: .95em;
	}
	a.s11, #ht1  {
		font-size: 2.0em; 
		top: -400px;
		color: red;
	}
	a.s12, #ht2 {
		font-size: 2.0em; 
		top: -350px;
	}

	#atitle {
		font-size: 30px; 
	}

}

@media screen and (min-width: 640px) and (max-width: 740px) {
	a.s11, #ht1  {
		font-size: 2.0em; 
		top: -400px;
		color: blue;
	}
	 a.s12, #ht2 {
		font-size: 2.0em; 
		top: -350px;
	}
	.midpics, #p1 {
		font-size: .8em; 
		max-height: 15%; 
	}

	a.s13, #ht3 {
		 
		top: -250px;
	}

}

@media screen and (min-width: 740px) and (max-width: 940px) {
	a.s11, #ht1  {
		font-size: 2.25em; 
		top: -400px;
		color: orange;
	}
	 a.s12, #ht2 {
		font-size: 2.25em; 
		top: -350px;
	}

	.midpics, #p1  {
		font-size: .8em; 
		max-height: 10%; 
	}

}


@media screen and (min-width: 940px) and (max-width: 1140px) {
	a.s11, #ht1  {
		font-size: 2.75em; 
		top: -400px;
		color: aqua;
	}
	 a.s12, #ht2 {
		font-size: 2.75em; 
		top: -350px;
	}

	.midpics, #p1  {
		font-size: .85em; 
		max-height: 10%; 
	}

}

@media screen and (min-width: 1140px) and (max-width: 1340px) {

	header {
		font-size: .9em; 
	}

	a.s11, #ht1  {
		font-size: 3.75em; 
		top: -425px;
		color: green;
	}
	 a.s12, #ht2 {
		font-size: 3.75em; 
		top: -350px;
	}

	a.s13 {
		font-size: 1em; 
	}

	

	.hidden {
		right: 350px;
	}
	.midpics, #p1 {
		font-size: .85em; 
	}
}

@media screen and (min-width: 1340px) and (max-width: 1540px ) {
	a.s11, #ht1  {
		font-size: 4.75em; 
		top: -450px;
		color: purple;
	}
	 a.s12, #ht2 {
		font-size: 4.75em; 
		top: -350px;
	}
	.midpics, #p1  {
		font-size: .9em; 
	}

}


@media screen and (min-width: 1540px) and (max-width: 1740px ) {
	a.s11, #ht1  {
		font-size: 5.25em; 
		top: -475px;
		color: yellow;
	}
	 a.s12, #ht2 {
		font-size: 5.25em; 
		top: -350px;
	}

}






html, body, p {
	font-family: 'Montserrat Alternates', sans-serif;
    margin:0;
    padding:0;
    border: 0;
    height: 100%;
    font-size: 100%;
}



header {
	height: 60px;
	background: #dbdbdb;
		/*	background: cover; /* If doing a specific background not just a color */  /**/
	width: 100%;
	z-index: 10;
	position: fixed;
	/*background-color: rgba(0,0,0,0.5);*/
	opacity: .5; 
}

h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: left;
	font-size: 100%; 
	margin: 0;
    padding: 0;
}

img {
	height: auto; 
	width: 100px; 
	padding: 0em; 
	border: .01px solid #000;   
	margin-right: 0.1em; 
	background-color: #EE0; 

}

.menu {
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}

.hidden {
	opacity: 0;
	color: black;
}

a.link {
	color: #FF0000;
}

a.visited {
	color: #00FF00;
}

a.hover {
	color: #FF00FF;
}

a.active {
    color: #0000FF;
}

a.mennav.active {
}

.active {
	color: #0000FF;
}


#about {
	max-height: 1px; 
}

ul.listtop {
	display: inline;
	float: right;
	margin: 0;
	padding:0;
	text-decoration: none;
	font-size: 1em;
}

li {
	display: inline;
	text-decoration: none;
}


#ulheader {
	display: inline;
	list-style-type: none; 
	text-align: right;
	position: relative;
	padding: 0;
	margin: 0; 
	top: -35px;
}



a.s11{
	font-family: 'Homemade Apple', cursive;
	top: -500px; 
	position: relative;
	text-align: left;
	padding: 0;
	margin: 0; 
	font-size: 6.25em;

}
a.s12 {
	font-family: 'Homemade Apple', cursive;
	top: -350px; 
	position: relative;
	text-align: right;
	padding: 0;
	margin: 0; 
	font-size: 6.25em;

}

a.s13 {
	font-family: 'Homemade Apple', cursive;
	top: -400px; 
	position: relative;
	text-align: right;
	padding: 0;
	margin: 0; 
	font-size: 20px;

}
.portfoliobox {
	background-size: cover;  
     
}

.portfoliobox0 {
	padding: 11.111111111%; 
	top:0px;
    right:0px;
    width: 66.666666667%;
    margin: 0 auto; 
    left: 0;
    position: absolute;
    /*position: absolute;  */
}

.portfoliobox1 {
	padding: 15px; 
	top:0px;
    right:0px;
    background-color: #111339; 
    
}

.portfoliobox2 {
	padding-top: 50px; 
	top:0px;
    right:0px;
    background-color: rgba(216,78,80,0.1); 
}

.portfoliobox3 {
	opacity: 1;
	z-index: 15;
	
}

table, th, td {
   border: none;
   table-layout: fixed;
   text-align: left;
}

table {
    width: 1000px;
    
}

#tbltxt th {
    height: 50px;
    text-align: left;
    float: left;
}

.contactbox {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-color: rgba(19,13,34,1);
	color: #d8c6cb;
}

.contactbox2 {
	text-align: center; 
}

#atitle {
	text-align: left;
	font-size: 35px; 
}

#facon th {
}

#tbltxt {
	 text-align: left;
    height: 50px;
    vertical-align: top;
    width: 350px;

}

#facon  {
	width: 50px; 
	text-align: right;

}



/*i.fa {
	color: black;
	font-size:x-large;
} */

i a i:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}


section.module.parallax {
  height: 100%;
  background-position: 75% 75%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*section.module.parallax-0 {
	height: 1600px; 
	
    background: #000000 url("http://loving1.github.io/Portfolio/images/dandi3.jpg") no-repeat bottom;
    /*height: 1600px; 
  	background-position: 10% 10%;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
    background: #000000 url("http://loving1.github.io/Portfolio/images/dandi3.jpg") no-repeat bottom left; */
    /*background-size: 100% 100%;
    min-height: 100%; 
    /*position: absolute; *//*
}


#section2 {
	height: 300px; 
	background: #000000 url("http://loving1.github.io/Portfolio/images/girlfieldsunset.jpg") no-repeat bottom left;
    background-size: 100% 100%;
    background-position: 50% 50%;
    min-height: 100%; 
    top: 800px; 
    background-attachment: fixed;
} *//**/

}
section.divabout {
	max-height: 1px; 
	max-width: 960px; 
}

#containbot {
	width: 100%;
	max-width: 1200px; 
	min-width: 600px; 
	margin: 2em auto; /*<!--// stays aligned in windwon no matter how big or small browser gets  */
	
	}

	body.large .article {
	font-size: 150%; 
}

.midcontainer {
  max-width: 53.333333333%;
  margin: 0 auto;
}

.midcontainer3 {
  max-width: 100%;
  margin-left: auto;
    margin-right: auto;
}

section.module.content {
  padding: 40px 0;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  top: -400px; 
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("http://loving1.github.io/Portfolio/images/sunsetgirl-1600x600.jpg");
}



section.module.parallax-3 {
  top: -400px; 
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("http://loving1.github.io/Portfolio/images/para3.jpg");
}
section.module.parallax-4 {
  top: -400px; 
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("http://loving1.github.io/Portfolio/images/para3.jpg");
}

section.module.parallax-4 {
  height: 110%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("http://loving1.github.io/Portfolio/images/dandi3.jpg");
}

section.midpics {
	top: -10%;
	max-height: 20px; 
	text-align: center;
	/*max-width: 960px;*/
}
div.about {
	max-height: 1px; 
}

#p1 {
	background-color: #111339; 
	color: #d8c6cb;
	
}

#para2_1, #para2_2  {
	position: absolute;

}

.wrappara2_2 {
	padding-top: 150px; 
	margin-left: auto; 
	margin-right: auto;

}

#para2_2 {
	width: 93.333333333%;
	max-width: 1000px;
	background-color: #111339;
	color:  #d8c6cb;
	font-size: 15px; 
}

.wrappara3_2 {
	padding-top: 225px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	position: relative;
	opacity: 0; 
	bottom: 00px; 
	height: 1px;
}

.wrappara3_2_pt2 {
	background-color: rgba(19,13,34,1);
	color: #d8c6cb;
	width: 1500px;
	height: 750px; 
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative; 
	
}

#para3_2 {
	 margin-top: 40px; 
	 margin-left: 50px; 
}




.FixedHeightContainer
{
  float:right;
  height: 500px;
  width: 150px; 
  padding: 25px; 
    /*background:#f00;*/
}
.ContentImgs
{
  height:625px;
   overflow:hidden;
   
   /* background:#fff; */
}

div.mousescroll:hover {
    overflow-y: scroll;
    overflow-x: hidden;
    background: transparent;
}

::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(79, 62, 95, 0.2);
    border: solid whiteSmoke 4px;
    width: 5px; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(79, 62, 95, 0.3);
    width: 10px; 
}

#para3_1 {
	position: absolute;
	font-family: 'Homemade Apple', cursive;
	font-size: 16px; 
	color: #d8c6cb;
}

#colorlist li {
	/*display: inline; */
	padding-right: 20px;
	text-align: left;  
}
#portmenubox {
	background-color: #111339;
	color:  #d8c6cb;
}

#services div {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

section.divportfolio {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	background-size: cover;

}

section.ontopofhome {
	max-height: 1px; 
}


.hover {
	cursor: pointer; 
	background-color: #666;
	color: #EFEFEF; 
	width: 200px; 
}

div.fadehover {
	position: relative;
	}

	@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}